// Base styles
@use 'variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap');
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: $color-bg;
    background-image: url('/background_festive.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: $color-text;
    font-family: $font-main;
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

#root {
    width: 100%;
    height: 100%;
}
